<div class="Rectangle">
    <div class="First">
       <div class="Content">
        <div class="Zdj">
            <img src="../assets/images/user.svg" />
        </div>
        <div class=""Text>
            <h1>90+</h1>
            <p>Users</p>
        </div>
       </div>
    </div>
    <div class="Second">
        <div class="Content">
            <div class="Zdj">
                <img src="../assets/images/location.svg" />
            </div>
            <div class="Text">
                <h1>30+</h1>
                <p>Locations</p>
            </div>
        </div>
    </div>
    
    <div class="Third">
       <div class="Content">
        <div class="Zdj">
            <img src="../assets/images/Server.svg" />
        </div>
        <div class="Text">
        <h1>50+</h1>
        <p>Servers</p>
        </div>
       </div>
    </div>
</div>    
